body {
  background-color: rgb(84, 185, 97);
}

.header {
  justify-content: center;
  display: flex;
  margin-top: 5%;
  font-size: 30px;
}

.todo {
  justify-content: center;
  display: flex;
  margin-top: 10%;
  height: 20px;
}

.button {
  justify-content: center;
  display: flex;
}

.Add {
  background-color: aqua;
  height: 30px;
  width: 100px;
}

.Clear {
  background-color: orange;
  height: 30px;
  width: 150px;
}

.left {
  justify-content: center;
  display: flex;
}

.task {
  justify-content: center;
  margin-left: 40%;
  font-size: 20px;
}